* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 30px;

  transition: all 0.2s linear;
}

.main > h1 {
  font-size: 33px;
  font-weight: 900;
  text-align: center;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.color-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.color-box > div {
  width: 30px;
  height: 30px;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.color-box > div:hover {
  transform: scale(1.2);
}
